# YouTube API Configuration
# Get your API key from: https://console.cloud.google.com/apis/credentials
VITE_YOUTUBE_API_KEY='yt api key here"

# Your YouTube Channel ID
# Find it at: https://www.youtube.com/account_advanced
VITE_YOUTUBE_CHANNEL_ID="channel id here"

# Optional: Specific playlist ID for past events
# VITE_YOUTUBE_PLAYLIST_ID=your_playlist_id_here
#https://youtube.com/playlist?list=PLLjWwiXrpFZ5E2rgT9rPmrUefZ_wr5h4-&si=F4XR-MGF53aDI6Dz
